# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next
/out

# production
/build

/public/sw.js
/public/fallback-development.js
/public/sw.js.map
/public/fallback-kwcKkjMWVKObw5XTfj2_V.js
/public/workbox-6a1bf588.js
/public/workbox-eac1af49.js
/public/workbox-eac1af49.js.map

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv local files
.env*.local
.env
src/data/allplaces.json

# local folder
local

# vercel
.vercel
public/workbox-327c579b.js
public/workbox-327c579b.js.map
public/workbox-8f0e986c.js
public/workbox-8f0e986c.js.map
src/data/notAddedToMain.js
