# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next
/out

# production
/build

/public/sw.js
/public/fallback-development.js
/public/sw.js.map
/public/fallback-kwcKkjMWVKObw5XTfj2_V.js
/public/workbox-6a1bf588.js
/public/workbox-eac1af49.js
/public/workbox-eac1af49.js.map
/public/workbox-588899ac.js
/public/fallback-8AH5F-7Wxt6rt8JtdhODi.js

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv local files
.env*.local
.env

# local folder
local

# vercel
.vercel
