@import 'ScrollTop.module.css';
@import 'MapsRegion.module.css';
@import 'D3Maps.module.css';
@import 'Draw.module.css';

@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

:root {
  --dark-color1: #3e596c;
  --dark-color1: #324758;
  --dark-color2: #000926;
  --dark-color3: #1b283b;
  --dark-color4: #0e1f37;
  /*blue*/
  --blue-color1: #124e8a;
  --blue-color2: #2c6f86;
  --blue-color3: #154454;
  /*yellow*/
  --yellow-color1: #cbcc7f;
  --yellow-color2: #c6b763;
  /*gray*/
  --gray-color: #b9b9c2;
  /*white*/
  --white-color: #d7e3ff;

  --bg-color2: #6ea1be;
  --bg-color1: #dadee0;
  --text-color1: #24305e;
  --text-color1: var(--third-bg-color);

/* Main colors for the tip  */
  --main-bg-color: var(--dark-color1);
  --second-bg-color: var(--jblue-color1);
  --third-bg-color: var(--dark-color3);
  --main-text-color: var(--yellow-color2);
  --art-lh: 1.7;
}

/* D3Maps */
.map-canvas {
  height: 50vh;
  width: 55vw;
  border: none;
  border-style: ridge;
  border-color: #fff;
  color: #fff;
  background-color: "#D37506";
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
}

/* MapsRegion */
.path {
  fill: rgb(132, 0, 255);
  stroke: cornsilk;
  stroke-width: 1px;
}

.path:hover {
  cursor: pointer;
  fill: rgb(255, 145, 0);
  fill-opacity: 0.5;
}

/* Main app */
.App {
  text-align: center;
  content-align: center;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App h1 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.body {
font-family: “Helvetica Neue”, -apple-system;
}
